<!DOCTYPE html>
<html lang="en" dir="rtl">
    <h2 style="direction: rtl">  کاربر گرامی {{ email_address }} ثبت نام شما با موفقیت انجام شد  </h2>
    <h2 style="direction: rtl">کلید شما :</h2>
    <h1 style="color: darkgreen">{{ token }}</h1>
    <br>
    <br>
    <h2 style="direction : rtl; color: red" > از این کلید میتوانید به منظور ورود و تغییر رمز عبور خود استفاده کنید </h2>
    <br>
    <h2 style="direction : rtl; color: red" > این کلید را در اختیار شخص دیگری قرار ندهید </h2>
    <br>
    <h4 style="direction: rtl">no replay</h4>
</html>